<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container content">

  <!-- navigation breadcrumbs -->
  <ol class="breadcrumb">
      <li><a href="/admin">admin</a></li>
      <li class="active">blog management</li> 
  </ol>

	<!-- shown when no activity exists -->
	<div class="text-center" ng-show="activities.length == 0 && !creating">
  		<h1><a class="btn btn-default" href="#" ng-click="showCreateForm()" role="button">Create</a> a new entry.</h1>
  	</div>

  	<!-- main content -->

  	<!-- header row -->
  	<div class="row" ng-show="activities.length > 0">
  		<div class="col-md-4">
  			<h3>Blog entries</h3>
  		</div>
  	</div>

  	<!-- content row -->
	<div class="row">

		<!-- item column -->
    	<div class="col-md-4" ng-show="activities.length > 0">
      		<div class="list-group">
      			<a href="#" class="list-group-item" ng-repeat="activity in filteredActivities" ng-click="selectActivity(activity)">
          			<h4>{{activity.title}}</h4>
          			<p class="text-muted">Created at {{activity.createdAt | date: 'shortDate'}}</p>
	       		</a>
      		</div>
	    	<pagination total-items="activities.length" 
    					ng-model="currentPage"
    					max-size="maxSize" 
    					class="pagination-sm" 
    					boundary-links="true"
    					rotate="false"
    					items-per-page="numPerPage"
    					ng-change="pageChanged()">
			</pagination>
    	</div>
    	<div class="col-md-4" ng-show="creating && activities.length <= 0">
      		<h3>Create a new blog post</h3>
    	</div>

    	<!-- item crud column -->
    	<div class="col-md-8">

    		<!-- shown when no item has been selected -->
      		<div ng-show="!selectedActivity && activities.length > 0 && !creating" class="text-center">
      			<h1>Select an item to edit or <a class="btn btn-default" href="#" ng-click="showCreateForm()" role="button">create</a> a new one.</h1>
      		</div>

      		<!-- shown when an item is selected -->
      		<div ng-show="selectedActivity || creating">

				<button type="button" class="close" aria-label="Close" ng-click="unselect()">
					<span aria-hidden="true">&times;</span>
				</button>

    			<form name="activityForm">
	  				<div class="form-group">
	    				<label class="control-label" for="inputTitle">Title</label>
      					<input type="text" id="inputTitle" class="form-control" placeholder="Title" ng-model="selectedActivity.title" required>
	 				</div>  				
	  				<div class="form-group">
	    				<label class="control-label" for="inputAuthor">Author</label>
      					<input type="text" id="inputAuthor"class="form-control" placeholder="Author" ng-model="selectedActivity.author" required>
	  				</div>
	  				<div class="form-group">
	    				<label class="control-label" for="inputText">Text</label>
	      				<textarea id="inputText"class="form-control" placeholder="Text" ng-model="selectedActivity.text" required></textarea>
	  				</div>
  					<div class="form-group text-right">
  						<button type="button" class="btn btn-danger" ng-click="deleteActivity(selectedActivity.title)" ng-hide="creating">Delete</button>
  						<button type="submit" class="btn btn-success" ng-click="updateSelected()" ng-disabled="activityForm.$invalid" ng-hide="creating">Submit</button>
  						<button type="submit" class="btn btn-success" ng-click="createNew()" ng-disabled="activityForm.$invalid" ng-show="creating">Create</button>
  					</div>
				</form>

      		</div>
      	
      	</div>

    </div>

</div>
